@mixin bg-image($url) {
  background: url($url + "@2x.png") center no-repeat;
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($url + "@3x.png")
  }
}
@mixin bg-image-direc($url,$left,$top) {
  background: url($url + "@2x.png") no-repeat $left $top;
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($url + "@3x.png")
  }
}
@mixin nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

@mixin border-1px($color) {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $color;
    content: ' ';
  }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    &:after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    &:after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}
@mixin border-top-1px($color) {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid $color;
    content: ' ';
  }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    &:after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    &:after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}
@mixin border-bottom-1px($color) {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid $color;
    content: ' ';
  }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    &:after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    &:after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}
@mixin border-right-1px($color) {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    border-right: 1px solid $color;
    content: ' ';
  }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    &:after {
      -webkit-transform: scaleX(0.7);
      transform: scaleX(0.7);
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    &:after {
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5);
    }
  }
}
@mixin border-left-1px($color) {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    border-right: 1px solid $color;
    content: ' ';
  }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    &:after {
      -webkit-transform: scaleX(0.7);
      transform: scaleX(0.7);
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    &:after {
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5);
    }
  }
}
@mixin div_border-1px($color) {
  border: 1px solid $color;
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    border: 0.5px solid $color;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    border: 0.333333px solid $color;
  }
}
