// 颜色定义规范
$color-background: #fff;
$color-background-g: #f5f5f5;
$color-theme: #ff8a00;
$color-theme-g: #ffe9cf;
$color-text: #4c4e5c;
$color-grey: #929292;
$color-border: #eeeeee;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
